.nk-ibx-item {
    width: 100% !important;
    cursor: unset !important;
}

.nk-ibx-list {
    overflow: hidden !important;
}

/* .nk-apps-sidebar+.nk-main>.nk-wrap>.nk-header-fixed {
    z-index: 5 !important;
} */

.group-create-form,
.add-user-form {

    input.form-control,
    select.form-control,
    .search-wrapper {
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #dbdfea;
        padding: 5px 8px;
    }

    input:focus {
        box-shadow: unset !important;
    }
}

/* .chat-item{
    li{
        width: 100% !important;
    }
} */

.select-chat {
    ul li {
        width: 50%;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        cursor: pointer;
    }

    ul li.active {
        background-color: #3883F9;
        color: #fff;
    }
}

/* .disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
} */

.chat-list .chat-item.active {
    background-color: rgb(235, 238, 242);
}

.nk-chat-profile {
    overflow: hidden scroll;
}

.user-info input {
    border: 0;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    border-bottom: 2px solid #dbdfea;
    text-align: center;
}

.user-info {
    width: 100%;
}

.user-info input:focus-visible {
    outline: 0 !important;
    border-color: #3883F9 !important;
}

.members-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: start;
    /* max-height: 50vh; */
    border: 2px solid #3883F9;
    overflow: auto;
    z-index: 2;
    margin-top: 0.5rem;


    /* scrollbar-width: none; 
    -ms-overflow-style: none;   */

    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

/* WebKit (Chrome, Safari, Edge) scrollbar */
.members-list::-webkit-scrollbar {
    width: 4px;
    /* Slightly wider than 1px for better visibility */
}

.members-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* Light gray thumb */
    border-radius: 2px;
    /* Slightly rounded corners */
}

.members-list::-webkit-scrollbar-track {
    background: transparent;
    /* Fully transparent track */
}

/* Hide scrollbar buttons */
.members-list::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}




.nk-chat-profile {
    scrollbar-width: thin;
    /* scrollbar-color: #ccc transparent; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nk-chat-profile::-webkit-scrollbar {
    width: 4px;
}

.nk-chat-profile::-webkit-scrollbar-track {
    background: transparent;
    /* Fully transparent track */
}

/* Hide scrollbar buttons */
.nk-chat-profile::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}



/* .link-list-opt span {
    display: flex;
    align-items: center;
    padding: .625rem 1.25rem;
    font-size: 12px;
    font-weight: 500;
    color: #526484;
    transition: all .4s;
    line-height: 1.3rem;
    position: relative;
    cursor: pointer;
} */

.main-chat-box {
    display: flex;
    flex-direction: column !important;
    flex-grow: 1;
    flex-wrap: nowrap !important;

    .chat {
        width: 100%;
    }
}

.reply {
    padding: 0.7rem 1.25rem;
    border-bottom: 1px solid #3883F9;
    border-top: 1px solid #3883F9;
}

.my-reply-bubble {
    padding: 0 !important;
    padding-right: 0.5rem !important;
    border-right: 2px solid #8b98b0;
    margin-bottom: 0.25rem;

    .reply-chat-msg {
        background-color: #fff !important;
        color: #526484 !important;
    }
}

.user-reply-bubble {
    padding: 0 !important;
    padding-left: 0.5rem !important;
    border-left: 2px solid #8b98b0;
    margin-bottom: 0.25rem;

    .reply-chat-msg {
        background-color: #3883F9 !important;
        color: #fff !important;
    }
}

.add-user-form select {
    padding: 5px 8px;
    border: 0;
    border-bottom: 2px solid #dbdfea;
    border-radius: 0;
    color: #b6c6e3;
}

.chat-upload-option {
    display: block !important;
}

.chat-upload-option .upload-files {
    color: #3883F9;
    font-size: 1.25rem;
    height: 36px;
    width: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    opacity: 0.6;

    &:hover{
        opacity: 1;
    }

}

.chat-upload-option .upload-files.active {
    opacity: 1;
}


.is-unread .chat-context .status {
    background-color: #3883F9;
    color: #fff !important;
    border-radius: 50%;
    height: 22px;
    width: 21px;
    align-items: center;
    justify-content: center;
}

.message-seen {
    color: #3883F9 !important;
}

.add-members:hover {
    color: #816bff;
}

.unread-users {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    margin-left: 0.25rem;
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.nk-chat-aside-search {
    margin-top: 0.75rem !important;
}

.admin-users-list {
    .form-check-input {
        margin: 0;
    }

    .form-check-input[type=checkbox] {
        position: unset !important;
    }
}

.chat-msg {
    word-break: break-all !important;
}

.add-member-btn {
    cursor: pointer;
    margin: 0 !important;
    padding: 0;
    background-color: transparent;
    border: 0;
}

.add-member-btn:focus,
.add-member-btn:hover {
    color: #3883F9 !important;
    box-shadow: unset !important;
}

.add-member-checkbox .form-check-input {
    position: static !important;
    cursor: pointer;
}

.add-member-checkbox .form-check-input:checked[type=checkbox] {
    background-color: #3883F9;
    border-color: #3883F9;
}

.position-relative .form-check {
    padding: 0 0.75rem;
}

.position-relative .form-check .form-check-input {
    margin-right: 1rem;
    position: static;
}

.position-relative .form-check .form-check-input:checked[type=checkbox] {
    background-color: #3883F9;
    border-color: #3883F9;
}

.modal-body .chat-item:hover {
    background-color: unset;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border: 0 !important;
}





.typing {
    align-items: center;
    display: flex;
    height: 17px;
}

.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #3883F9;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

.t16lpgj {
    /* background-color: red !important; */
    position: absolute !important;
    bottom: 100%;
    margin-bottom: 1.25rem;
}


/* .toolbar_visible {
    border: 1px solid #ddd;
    padding: 1rem;
} */

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #6CAD96;
        background-color: #3883F9;
    }

    28% {
        transform: translateY(-7px);
        background-color: #9ECAB9;
        background-color: #9299eb;
    }

    44% {
        transform: translateY(0px);
        background-color: #B5D9CB;
        background-color: #acb1e9;
    }
}

.user-seen-avatar {
    font-size: 7px !important;
    height: 12px !important;
    width: 12px !important;

    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.chat-seen-meta li {
    padding: 0 0.1rem !important;
    position: relative;
}

.chat-seen-meta li:not(:first-child):before {
    content: unset !important;
}


.users_detail {
    background-color: #3883F9;
    color: #fff;
    padding: 0 0.5rem;
    border-radius: 10px;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: max-content;
}


.group-image {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}











.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .cropper-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
  } */

.crop-controls {

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    text-align: center;
}

.crop-controls button {
    margin: 0 10px;
    padding: 8px 16px;
    cursor: pointer;
}













.user-avatar-wrapper {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.user-avatar.group-image-change {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.avatar-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    opacity: 0;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.user-avatar-wrapper:hover .avatar-hover-overlay {
    opacity: 1;
}

.camera-icon {
    font-size: 18px;
}

.hover-text {
    font-size: 12px;
}



.delete-btn {
    padding: 0;
    border: 0;
    background: transparent;
    color: #3883F9;
}

.user-profile-image {
    height: 280px !important;
    width: 280px !important;
}

.user-avatar {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.user-avatar2 {
    font-size: 200px !important;
    letter-spacing: 0 !important;
}

.rotate-it {
    animation: rotate-animate 0.6s ease-in-out forwards;
}

@keyframes rotate-animate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.message-files .light-box{
    height: 100% !important;
}